.row
  .col-12
    %h3= t(".cta_button")

.row
  %label
    = form.check_box :cta_enabled, class: 'cta-select'
    = t(".cta_enabled")
  .cta-enabled
    = render partial: "locale_input_fields", locals: cta_locals(:button_title, form, t('.text_placeholder'))

    = render partial: "locale_input_fields", locals: cta_locals(:button_path_string, form, t('.url_placeholder'), true, true)