.row.without-margin.menu-link-sortable.footer-menu-container{id: f.index, data: {"field-id": f.index, new: f.object.new_record? ? '1' : nil}}
  .col-11
    = f.hidden_field :id
    = f.hidden_field :sort_priority, class: 'sort-priority'
    = f.hidden_field :_destroy, class: 'destroy-record'
    .row
      .col-7
        %span.hidden-tablet
          = t("admin.communities.footer.title")
        = render partial: "locale_input_fields", locals: footer_links_locals(:title, f.index, f, t("admin.communities.footer.title_placeholder"), nil, true, false)

      .col-5
        %span.hidden-tablet
          = t("admin.communities.footer.url")
        = render partial: "locale_input_fields", locals: footer_links_locals(:url, f.index, f, t("admin.communities.footer.url_placeholder"), true, true, true)

  .col-1.menu-links-actions
    - link_class = "menu-link-without-locale-remove"

    = link_to "#", class: "menu-link-remove #{link_class}", tabindex: "-1" do
      = icon_tag("cross", ["icon-fix"])
    = link_to '#', class: "menu-link-action-up admin-sort-button", tabindex: "-1" do
      = icon_tag("directup", ["icon-fix"])
    = link_to '#', class: "menu-link-action-down admin-sort-button", tabindex: "-1" do
      = icon_tag("directdown", ["icon-fix"])
