- content_for :javascript do
  ST.LandingPageSectionEditor.initForm();

= form.hidden_field :variation

= render partial: 'id_field', locals: {presenter: presenter, form: form}
= render 'content'

.row
  .col-12
    = render partial: "locale_input_fields", locals: common_locals(:title, form)
.row
  .col-12
    = render partial: "locale_input_textarea", locals: common_locals(:paragraph, form)

= render partial: 'cta_button', locals: {form: form, presenter: presenter}
= render partial: 'background_selector', locals: {form: form, presenter: presenter}
