- content_for :javascript do
  ST.LandingPageSectionEditor.initForm();

= render partial: 'id_field', locals: {presenter: presenter, form: form}

.row
  .col-12
    = render partial: "locale_input_fields", locals: video_locals(:youtube_video_id, form, t(".youtube_video_id_info").html_safe, "", true)

.row
  .col-12
    %label= t(".autoplay")
    %label
      = form.radio_button :autoplay, false
      = t(".autoplay_no")
    %label
      = form.radio_button :autoplay, LandingPageVersion::Section::Video::AUTOPLAY_MUTED, checked: !!form.object.autoplay
      = t(".autoplay_muted")

.row
  .col-12
    = render partial: "locale_input_fields", locals: video_locals(:text, form, t(".info"))